---
// src/pages/download.astro
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Download JSON File"
  desc="Download the JSON file with the data of the most searched keywords on cults 3D"
>
  <h1>Download JSON File</h1>
  <p>Click the link below to download the JSON file:</p>
  <a href="/api/data.json" download>Download JSON</a>
</Layout>
