---
import Layout from "../layouts/Layout.astro";
import puppeteer from "puppeteer";

// const browser = await puppeteer.launch();
// const page = await browser.newPage();

// await page.goto("https://cults3d.com/es/pages/busquedas-de-tendencia");
// await page.setViewport({ width: 1080, height: 1024 });

// const linkTexts = await page.evaluate(() => {
//   // Seleccionar todos los <ol> en la página.
//   const orderedLists = document.querySelectorAll("ol");

//   // Convertir NodeList en un array y mapear para obtener los textos de cada <li>.
//   const listsArray = Array.from(orderedLists).map((ol) => {
//     // Seleccionar todos los <li> dentro del <ol> y obtener sus textos.
//     return Array.from(ol.querySelectorAll("li")).map(
//       (li) => li.textContent?.trim() || ""
//     );
//   });

//   return listsArray;
// });
// await browser.close();
//console.log(linkTexts);

const data = [
  [
    "dragon",
    "warhammer",
    "40k",
    "star wars",
    "vase",
    "anime",
    "flexi",
    "harry potter",
    "one piece",
    "Pokemon",
    "lego",
    "skull",
    "cat",
    "keychain",
    "dragon ball",
    "dnd",
    "rc",
    "godzilla",
    "warhammer 40k",
    "funko",
    "ork",
    "tau",
    "lamp",
    "spiderman",
    "gun",
    "car",
    "naruto",
    "zelda",
    "planter",
    "helmet",
    "minecraft",
    "stitch",
    "diorama",
    "mario",
    "sword",
    "fortnite",
    "playmobil",
    "battletech",
    "maceta",
    "ring",
    "Mask",
    "Batman",
    "chess",
    "oldhammer",
    "figure",
    "cnc",
    "pen holder",
    "bmw",
    "Goku",
    "horse",
  ],
  [
    "dragon",
    "warhammer",
    "40k",
    "star wars",
    "anime",
    "vase",
    "easter",
    "flexi",
    "dragon ball",
    "harry potter",
    "skull",
    "cat",
    "lego",
    "pokemon",
    "one piece",
    "keychain",
    "dnd",
    "lamp",
    "warhammer 40k",
    "naruto",
    "rc",
    "spiderman",
    "gun",
    "tau",
    "helmet",
    "car",
    "zelda",
    "mario",
    "minecraft",
    "funko",
    "fortnite",
    "diorama",
    "ork",
    "ring",
    "planter",
    "stitch",
    "mask",
    "sword",
    "godzilla",
    "playmobil",
    "battletech",
    "chess",
    "ostern",
    "space marines",
    "dragonxcults",
    "oldhammer",
    "goku",
    "disney",
    "bmw",
    "batman",
  ],
];

function OrderData(data: Array<string>) {
  let keywords: Array<string> = [];
  let position: Array<Array<number>> = [];

  // lee el primer array de keywords y añade todos los keywords a un array de keywords y el ranking a otro array
  for (let i = 0; i < data.length; i++) {
    keywords.push(data[i]);
    position.push([i]);
  }

  const info = {
    keywords: keywords,
    position: position,
  };
  return info;
}

const displayData = OrderData(data[0]);

//console.log(displayData);

const datas = [
  [1, 2, 4, 5, 1, 3, 5, 6, 2, 4, 6, 2],
  [2, 3, 5, 4, 2, 4, 3, 5, 1, 7, 8, 9],
];
const labels = ["dragon", "goku"];

let datasets = [];
for (var i = 0; i < labels.length; i++) {
  datasets.push({ label: labels[i], data: datas[i] });
}

console.log(datasets);
// const data = [
//   [1, 2, 4, 5, 1, 3, 5, 6, 2, 4, 6, 2],
//   [2, 3, 5, 4, 2, 4, 3, 5, 1, 7, 8, 9],
// ];
// const labels = ["dragon", "goku"];

// const datasets = [
//   {
//     label: labels[0],
//     data: data[0],
//   },
//   {
//     label: labels[1],
//     data: data[1],
//   },
// ];
---

<Layout title="Welcome to Astro.">
  <div>
    <canvas id="myChart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script is:inline define:vars={{ datasets }}>
    document.addEventListener("DOMContentLoaded", function () {
      const ctx = document.getElementById("myChart");

      //   //   const labels = displayData.keywords;
      //   //   const data = displayData.positions;
      //   const data = [
      //     [1, 2, 4, 5, 1, 3, 5, 6, 2, 4, 6, 2],
      //     [2, 3, 5, 4, 2, 4, 3, 5, 1, 7, 8, 9],
      //   ];
      //   const labels = ["dragon", "goku"];

      //   //   let datasets = [];
      //   //   for (var i = 0; i < labels.length; i++) {
      //   //     datasets.push({ label: labels[i], data: data[i] });
      //   //   }

      //   const datasets = [
      //     {
      //       label: labels[0],
      //       data: data[0],
      //     },
      //     {
      //       label: labels[1],
      //       data: data[1],
      //     },
      //   ];
      new Chart(ctx, {
        type: "line",
        data: {
          labels: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
          ],
          datasets: datasets,
        },
      });
    });
  </script>
</Layout>
<style>
  canvas {
    width: 100%;
    height: 100%;
  }
</style>
