---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cults data viwer">
  <a href="/A-better-Cults3D-most-searched-viewer/Evergreen"
    >Evergreen products</a
  >
  <a href="/A-better-Cults3D-most-searched-viewer/Top5">Top 5</a>
  <a href="/A-better-Cults3D-most-searched-viewer/Top10">Top 10</a>
</Layout>
