---
import Graph from "../components/graph.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Evergreen categories on cults 3D"
  desc="Here you can find useful graphs to help you find inspiration to design something on cults 3D"
>
  <h1>Cults 3D stats</h1>
  <section>
    <p>
      If tou are looking for things to design and upload to cults 3D, you are in
      the right place.
    </p>

    <h2>Evergreen categories</h2>
    <p>
      You can start with the evergreen categories, which are the ones that are
      almost always on the list of more searched categories. This makes them a
      good choice because you can be sure that your model will hae some views.
      Without the need to share it but if you can share it else ware to boost
      your chances to sell it.
    </p>

    <h2>Top searched categories</h2>
    <p>
      These are self explanatory, people sear chem and they are the most
      searched over time. There are interesting effects during the year. You can
      find more information in the corresponding page.
    </p>

    <h2>Top 10 number of models</h2>
    <p>
      This is an interesting graph that shows you the number of models each
      category has. Knowing that, you can be able to find a keyword that is not
      saturated and at the same time, people search it.
    </p>

    <h2>More graphs</h2>
    <p>
      You don't find that you re looking for? This is an open source project,
      you can open a issue in GitHub or ever make a pull request.

      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/lordor5/A-better-Cults3D-most-searched-viewer"
        >Here</a
      >
    </p>
  </section>
</Layout>
<style></style>
