---

---

<nav>
  <div>
    <div>
      <a href="/A-better-Cults3D-most-searched-viewer/" title="Home">Home</a>
      <a
        href="/A-better-Cults3D-most-searched-viewer/Evergreen"
        title="Evergreen categories">Evergreen categories</a
      >
      <a
        href="/A-better-Cults3D-most-searched-viewer/Top5"
        title="Top 5 categories">Top 5</a
      >

      <a
        href="/A-better-Cults3D-most-searched-viewer/Top10"
        title="Top 10 categories">Top 10</a
      >
      <a
        href="/A-better-Cults3D-most-searched-viewer/MoreAmountOfModels"
        title="Top 10 categories wth number of models"
        >More amount of models (most searches)</a
      >
      <a
        href="/A-better-Cults3D-most-searched-viewer/LeastAmountOfModels"
        title="Top 10 categories wth number of models"
        >Least amount of models (least searches)</a
      >
    </div>
  </div>
</nav>
<style>
  nav {
    width: 100%;
    background-color: var(--background-100);
    border-bottom: 1px solid var(--text-800);
    overflow: hidden;
    position: sticky;
    top: 0;

    z-index: 100;
  }
  div {
    max-width: 1000px;
    margin: auto;
  }
  /* Style the navbar */
  div div {
    width: 100%;
  }

  /* Navbar links */
  div div a {
    float: left;
    display: block;
    color: var(--text-950);
    text-align: center;
    padding: 10px;
    padding-right: 3%;
    padding-left: 3%;
    text-decoration: none;
  }
  a:hover {
    background-color: rgb(207, 207, 207);
    transition: 100ms ease-in-out;
  }

  button {
    float: right;
    display: block;
    color: var(--text-900);
    text-align: center;
    padding: 10px;
    padding-right: 3%;
    padding-left: 3%;
    text-decoration: none;

    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  button:hover {
    background-color: rgb(207, 207, 207);
    transition: 100ms ease-in-out;
  }
</style>
